[data-theme="dark"] {
    /* --main-color: #babdc4; */
    --main-color: #fff;
    --secondary-color: red;
    --selection-bg-color: #fffba0;
    --selection-color: #666;
    --bg-color: #131418;
    --bg-secondary-color: #131418d7;

}

[data-theme="light"] {
    --main-color: #131418;
    --secondary-color: red;
    --selection-bg-color: #fffba0;
    --selection-color: #666;
    --bg-color: #fff;
    --bg-secondary-color: #e2e4f6c6;
}

* {
    transition: all 0.3s ease-in-out;
    font-family: "Open Sans", sans-serif; /* Clean, modern look */
    color: var(--main-color);
    background: var(--bg-color);
    line-height: 2;
}

*::selection,
*::-moz-selection {
    background: var(--selection-bg-color);
    color: var(--selection-color);
}

body {
    background-color: var(--bg-color);
    color: var(--main-color);
}

.nav-link-active {
    font-weight: 600;
    opacity: 1;
}

.nav-link-inactive {
    font-weight: 400;
    opacity: 0.8;
}

.nav-link-inactive:hover {
    opacity: 1;
}
